<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<title>Page Title</title>
</head>
<body>
<section>
<div class = "container">
		<div class = "row">
			<div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card mt-5">
			<div class="card-header ">
			<h1 class = "text-center"> Kaydol </h1>
			</div>
				<th:block th:if="${session.msg}">
				<p class="text-center fs-3">[[${session.msg}]]</p>
				</th:block>
				<div class = "card-body">
					<form th:action="@{/signup}" th:object = "${user}" method="POST">
						<div class ="form-group">
							<label>Name </label>
							<input
							type = "text"
							name = "firstName"
							th:field = "*{firstName}"
							class = "form-control"
							placeholder="Enter First Name" 
							/>
							<div class="alert alert-danger"
							th:if="${#fields.hasErrors('firstName')}"
							th:errors="*{firstName}"
							>
							</div>
						</div>
						
						<div class ="form-group">
							<label> Surname </label>
							<input
							type = "text"
							name = "lastName"
							th:field = "*{lastName}"
							class = "form-control"
							placeholder="Enter Last Name" 
							/>
							<div class="alert alert-danger"
							th:if="${#fields.hasErrors('lastName')}"
							th:errors="*{lastName}"
							>
							</div>
						</div>
						
						<div class ="form-group">
							<label> Email </label>
							<input
							type = "email"
							name = "email"
							th:field = "*{email}"
							class = "form-control"
							placeholder="Enter Email" 
							/>
							<div class="alert alert-danger"
							th:if="${#fields.hasErrors('email')}"
							th:errors="*{email}"
							>
							</div>
						</div>
						<div class ="form-group">
							<label> Password </label>
							<input
							type = "password"
							name = "password"
							th:field = "*{password}"
							class = "form-control"
							placeholder="Enter Password" 
							/>
							<div class="alert alert-danger"
							th:if="${#fields.hasErrors('password')}"
							th:errors="*{password}"
							>
							</div>
						</div>
						
						<div class = "box-footer">
							<button type="submit" class = "btn btn-primary mt-3">
								Submit
							</button>
						</div>
					</form>
				
				</div>
			</div>
		</div>
	</div>
</section>

</body>
</html>